.herobg{
    background-image: url(https://cliniq.bold-themes.com/wp-content/uploads/2021/11/landing_doctors.png?fbclid=IwAR1LfuaiVwN_Hp-1zOQ5JV4h0_LUxfxMeK2rreV28grzMjYk2R2Doh8Y4hY);
    min-height: 768px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.Doctors{
    color: #17f2fd;
}