/* .addproducts{
  display: flex;
  flex-direction: column;
} */

.own{
  color: #fa7899;
  font-size: 2rem;
  margin-left: 100px;
}

.add{
  color: #ff9a41;
  font-size: 2rem;
  margin-right: 20px;
  font-weight: 800;

}

.inputfields{
  border: 2px solid #FFA24E !important;
  border-radius: 5px;
  background-color: white !important;
}

.subbutton{
  border: 2px solid rgba(255, 0, 0, 0.322) !important;
  background-color: #ff804e !important;
  width: 100px !important;
  padding: 10px 10px !important;
  border-radius: 10px !important;
}